src/main/java/wsdl.xml

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.mbanking.bpm.mr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.mbanking.bpm.mr/" name="MonetiqueWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.mbanking.bpm.mr/" schemaLocation="xsd.xml"/>
</xsd:schema>
</types>
<message name="getAuth">
<part name="pan" type="xsd:double"/>
</message>
<message name="getAuthResponse">
<part name="AuthOut" type="tns:listMonetiqueCarte"/>
</message>
<message name="getCl">
<part name="pan" type="xsd:double"/>
</message>
<message name="getClResponse">
<part name="ClearingOut" type="tns:listMonetiqueCarte"/>
</message>
<message name="getHist">
<part name="pan" type="xsd:double"/>
</message>
<message name="getHistResponse">
<part name="HistoriqueOut" type="tns:listHistorique"/>
</message>
<message name="getPans"/>
<message name="getPansResponse">
<part name="PanOut" type="tns:listPan"/>
</message>
<message name="SoldeOut">
<part name="pan" type="xsd:double"/>
</message>
<message name="SoldeOutResponse">
<part name="SoldeOut" type="tns:soldeCarte"/>
</message>
<message name="SoldeSSOut">
<part name="du" type="xsd:dateTime"/>
<part name="au" type="xsd:dateTime"/>
</message>
<message name="SoldeSSOutResponse">
<part name="SlSSOut" type="tns:listMonetiqueCarte"/>
</message>
<portType name="MonetiqueWS">
<operation name="getAuth">
<input wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/getAuthRequest" message="tns:getAuth"/>
<output wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/getAuthResponse" message="tns:getAuthResponse"/>
</operation>
<operation name="getCl">
<input wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/getClRequest" message="tns:getCl"/>
<output wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/getClResponse" message="tns:getClResponse"/>
</operation>
<operation name="getHist">
<input wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/getHistRequest" message="tns:getHist"/>
<output wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/getHistResponse" message="tns:getHistResponse"/>
</operation>
<operation name="getPans">
<input wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/getPansRequest" message="tns:getPans"/>
<output wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/getPansResponse" message="tns:getPansResponse"/>
</operation>
<operation name="SoldeOut">
<input wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/SoldeOutRequest" message="tns:SoldeOut"/>
<output wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/SoldeOutResponse" message="tns:SoldeOutResponse"/>
</operation>
<operation name="SoldeSSOut" parameterOrder="du au">
<input wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/SoldeSSOutRequest" message="tns:SoldeSSOut"/>
<output wsam:Action="http://ws.mbanking.bpm.mr/MonetiqueWS/SoldeSSOutResponse" message="tns:SoldeSSOutResponse"/>
</operation>
</portType>
<binding name="MonetiqueWSPortBinding" type="tns:MonetiqueWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getAuth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</output>
</operation>
<operation name="getCl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</output>
</operation>
<operation name="getHist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</output>
</operation>
<operation name="getPans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</output>
</operation>
<operation name="SoldeOut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</output>
</operation>
<operation name="SoldeSSOut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.mbanking.bpm.mr/"/>
</output>
</operation>
</binding>
<service name="MonetiqueWSService">
<port name="MonetiqueWSPort" binding="tns:MonetiqueWSPortBinding">
<soap:address location="http://192.168.0.50:8802/ws/monetique/service"/>
</port>
</service>
</definitions>