src/main/java/xsd.xml

<xs:schema xmlns:tns="http://ws.mbanking.bpm.mr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.mbanking.bpm.mr/">
<xs:complexType name="listHistorique">
<xs:sequence>
<xs:element name="list" type="tns:historique" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="historique">
<xs:sequence>
<xs:element name="auth_cumu" type="xs:double"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="genClearing" type="xs:string" minOccurs="0"/>
<xs:element name="host" type="xs:string" minOccurs="0"/>
<xs:element name="recharge" type="xs:double"/>
<xs:element name="utilise_cumu" type="xs:double"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="soldeCarte">
<xs:sequence>
<xs:element name="authCum" type="xs:double"/>
<xs:element name="rechargeCum" type="xs:double"/>
<xs:element name="usedCum" type="xs:double"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listPan">
<xs:sequence>
<xs:element name="list" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listMonetiqueCarte">
<xs:sequence>
<xs:element name="list" type="tns:monetiqueClass" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="monetiqueClass">
<xs:sequence>
<xs:element name="authorisationCumule" type="xs:double"/>
<xs:element name="clearing" type="xs:double"/>
<xs:element name="code" type="xs:int"/>
<xs:element name="codeAuth" type="xs:double"/>
<xs:element name="commission" type="xs:double"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deviseCl" type="xs:int"/>
<xs:element name="deviseOrigine" type="xs:int"/>
<xs:element name="deviseSS" type="xs:int"/>
<xs:element name="etat" type="xs:int"/>
<xs:element name="lieu" type="xs:string" minOccurs="0"/>
<xs:element name="montantCl" type="xs:double"/>
<xs:element name="montantOrigine" type="xs:double"/>
<xs:element name="montantTrans" type="xs:double"/>
<xs:element name="rechargeCl" type="xs:double"/>
<xs:element name="rechargeCumule" type="xs:double"/>
<xs:element name="refCl" type="xs:double"/>
<xs:element name="refErone" type="xs:string" minOccurs="0"/>
<xs:element name="refTrans" type="xs:double"/>
<xs:element name="solde" type="xs:double"/>
<xs:element name="taux" type="xs:double"/>
<xs:element name="type" type="xs:int"/>
<xs:element name="utiliseCumule" type="xs:double"/>
<xs:element name="verified" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>