src/main/java/xsd.xml

<xs:schema xmlns:tns="http://ws.mbanking.bpm.mr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.mbanking.bpm.mr/">
<xs:element name="ParseException" type="tns:ParseException"/>
<xs:complexType name="listImal">
<xs:sequence>
<xs:element name="list" type="tns:imal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="imal">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="montant" type="xs:double"/>
<xs:element name="rrn" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>